<div class="region columnLeft hFourth vOne">
    <div class="noDeploy">No components, please deploy some on this <b>column</b> region.</div> <!-- overwright this div -->
</div>
<div class="region columnRight hThird-fourth vOne" style="padding:0;border: none;">
    <div class="region header hOne vFourth">
        <div class="noDeploy">No components, please deploy some on this <b>header</b> region.</div> <!-- overwright this div -->
    </div>
    <div class="region main hOne vThird-fourth">
        <div class="noDeploy">No components, please deploy some on this <b>main</b> region.</div> <!-- overwright this div -->
    </div>
    <div class="region mainFlip hOne vThird-fourth hide">
        <div class="noDeploy">No components, please deploy some on this <b>mainflip</b> region.</div> <!-- overwright this div -->
    </div>
</div>
